.card__time-tracking input[type="number"]::-webkit-outer-spin-button,
.card__time-tracking input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: auto;
}

@layer components {
  .icon--clock { --svg: url("clock.svg"); }

  .card__time-tracking {
    --btn-color: var(--card-color);

    align-items: center;
    align-self: stretch;
    color: var(--card-text-color);
    display: flex;
    gap: 0.5ch;
    min-inline-size: 0;

    [data-controller="dialog"] {
      align-items: center;
      align-self: stretch;
      display: flex;
      position: relative;
    }

    .popup {
      inset-block-start: 100%;
    }

    .input {
      --input-padding: 0.2em 0.5em;
    }

  }

  .card__time-tracking-button {
    font-size: 0.6em;
  }

  .btn--time-add {
    --btn-background: oklch(var(--lch-blue-lightest));
    --btn-color: oklch(var(--lch-blue-dark));
  }

  .btn--time-remove {
    --btn-background: oklch(var(--lch-red-lightest));
    --btn-color: oklch(var(--lch-red-dark));
  }
}
